/* line 1, scss/index.scss */
.title {
  font-weight: bold;
}

/* line 4, scss/index.scss */
#title {
  font-size: 32px;
}

/* line 13, scss/index.scss */
.category {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: 10px;
}

/* line 16, scss/index.scss */
.habit {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: 10px;
  margin: 5px;
}

/* line 20, scss/index.scss */
.node {
  margin: 2.5px;
}

/* line 23, scss/index.scss */
.node .fa-link {
  display: none;
}

/* line 26, scss/index.scss */
.node .fa-link.active {
  display: inline;
}

/* Reuseable */
/* line 30, scss/index.scss */
.clickable {
  cursor: pointer;
}

/* line 33, scss/index.scss */
.clickable:hover {
  color: red;
}

/* line 36, scss/index.scss */
.edit-mode-component:not(.active) {
  display: none;
}

/* line 39, scss/index.scss */
.text-red {
  color: red;
}
